.header {
    /* background-color: purple; */
    padding: 5px 30px;
    background-image: linear-gradient(to right, #312d2d , #312d2d42);
}

.logo {
    width: 110px;
    height: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
}