.side-navbar {
    background-color: antiquewhite;
    padding: 5px 30px;
    border-radius: 5px;
    height: 200px;
}

.side-navbar h3, .quick-links a {
    font-size: 18px;
}

.quick-links li {
    position: relative;
    top: -15px;
    left: -40px;
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .side-navbar {
        z-index: 999;
        position: absolute;
        left: 0;
      }
}