html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.paginationBttns {
  /* width: 80%; */
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 2px 8px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #312d2d;
  color: #312d2d;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #312d2d;
}

.paginationActive a {
  color: white;
  background-color: #312d2d;
}

.paginationDisabled a, .paginationDisabled a:hover {
  color: #800080;
  background-color: lightgray;
  cursor: unset;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
